/* ###########################################
                CSS reset
############################################## */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #0b1a3b;
}

/* ###########################################
                  Navbar
############################################## */

.pokemon-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f224a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 1; /* Ensure the navbar is on top */
}

.pokemon-logo img {
  width: 60px;
  height: auto;
  margin-left: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 10px; /* Adjust the spacing between the navigation items */
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

/* ###########################################
            Index page
############################################## */

#poke-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Push the video behind other elements */
}

/* ###########################################
              Pokedex page
############################################## */

.pokedex-container {
  margin-top: 90px;
}
.pokedex-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.pokemon-container a {
  text-decoration: none;
}

.pokemon-card {
  width: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #000000;
}
.pokemon-card img {
  width: 80%;
  margin: auto;
  display: block;
}
.pokemon-card h2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}


/* ###########################################
            Loading...
############################################## */

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.pokeball {
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokeball::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 85px; /* Decreased from 100px */
  background: black;
  top: 40px; /* Adjusted top position */
  left: 0px; /* Added left position */
}

.pokeball::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50%; /* Adjusted top position */
  left: 50%; /* Adjusted left position */
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 15px white, inset 0 0 0 12px black;
}


/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide loading screen when content is loaded */
.content-loaded #loading-screen {
  opacity: 0;
  pointer-events: none;
}

/* ###########################################
            Pokemon details page
############################################## */

.pokedex-container-pokemon-details {
  background-color: #ececec;
  width: 500px;
  height: 800px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokedex-top-pokemon-details {
  height: 30px;
  background-color: #d93f3f;
}

.pokedex-body-pokemon-details {
  background-color: #f5f5f5;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-details-container-pokemon-details {
  text-align: center;
}

.pokemon-details-container-pokemon-details .pokemon-name-pokemon-details {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.pokemon-details-pokemon-details {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image-pokemon-details {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 10px;
}

.pokemon-attribute-pokemon-details {
  margin-bottom: 5px;
}

.attribute-label-pokemon-details {
  font-weight: bold;
}

.attribute-value-pokemon-details {
  margin-left: 5px;
}

.type-pill-pokemon-details {
  display: inline-block;
  padding: 5px 10px;
  background-color: #65a4cd;
  color: #fff;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.type-weakness-pokemon-details {
  background-color: #d93f3f;
}

.pokemon-stats-pokemon-details {
  margin-top: 15px;
}

.stats-heading-pokemon-details {
  font-weight: bold;
  margin-bottom: 5px;
}

.stats-list-pokemon-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stat-item-pokemon-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.stat-label-pokemon-details {
  font-weight: bold;
}

.pagination-pokemon-details {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.prev-button-pokemon-details,
.next-button-pokemon-details {
  display: inline-block;
  padding: 5px 10px;
  background-color: #65a4cd;
  color: #fff;
  border-radius: 20px;
  margin: 0 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.prev-button-pokemon-details:hover,
.next-button-pokemon-details:hover {
  background-color: #4287a9;
}

.disabled-button-pokemon-details {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ccc;
  color: #fff;
  border-radius: 20px;
  margin: 0 5px;
}

.search-form-pokemon-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-pokemon-details input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
}

.search-form-pokemon-details button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.search-form-pokemon-details button:hover {
  background-color: #45a049;
}

/* ###########################################
              Trainers page
############################################## */

.trainers-container {
  background-color: #fff;
  margin: 90px 50px 0 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.trainers-container h1 {
  text-align: center;
}

.create-trainer-form {
  max-width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.create-trainer-form label {
  display: block;
  margin-bottom: 10px;
}

.create-trainer-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0 10px 0;
}

.create-trainer-form input[type="submit"] {
  background-color: #808080;
  color: white;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  transition: background-color 0.3s ease;
}

.create-trainer-form input[type="submit"]:hover {
  background-color: #45a049;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.action-form {
  display: inline;
  margin-right: 5px;
}

.action-button {
  background-color: #808080;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #ff0000;
}

/* ###########################################
              Pokemon types
############################################## */

.type-normal {
  background-color: #a8a878;
}

.type-fire {
  background-color: #f08030;
}

.type-water {
  background-color: #6890f0;
}

.type-electric {
  background-color: #f8d030;
}

.type-grass {
  background-color: #78c850;
}

.type-ice {
  background-color: #98d8d8;
}

.type-fighting {
  background-color: #c03028;
}

.type-poison {
  background-color: #a040a0;
}

.type-ground {
  background-color: #e0c068;
}

.type-flying {
  background-color: #a890f0;
}

.type-psychic {
  background-color: #f85888;
}

.type-bug {
  background-color: #a8b820;
}

.type-rock {
  background-color: #b8a038;
}

.type-ghost {
  background-color: #705898;
}

.type-dragon {
  background-color: #7038f8;
}

.type-dark {
  background-color: #705848;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fairy {
  background-color: #ee99ac;
}

/* ###########################################
                404 page
############################################## */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image-404 {
  width: 800px;
}
.text-404 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.button-goBack {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
  margin-top: 30px;
  cursor: pointer;
}
.button-goBack:hover,
.button-goBack:active {
  background-color: #fff;
  color: black;
}

/* ###########################################
                footer
############################################## */

.footer {
  background-color: #0f224a;
  color: #fff;
  padding: 20px;
  text-align: center;
}
