/* ###########################################
                CSS reset
############################################## */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #0b1a3b;
}

/* ###########################################
                  Navbar
############################################## */

.pokemon-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f224a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 1; /* Ensure the navbar is on top */
}

.pokemon-logo img {
  width: 60px;
  height: auto;
  margin-left: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 10px; /* Adjust the spacing between the navigation items */
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

/* ###########################################
              Pokedex page
############################################## */

.pokedex-container {
  margin-top: 90px;
}
.pokedex-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.pokemon-container a {
  text-decoration: none;
}

.pokemon-card {
  width: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #000000;
}
.pokemon-card img {
  width: 80%;
  margin: auto;
  display: block;
}
.pokemon-card h2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}


/* ###########################################
            Loading...
############################################## */

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.pokeball {
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokeball::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 85px; /* Decreased from 100px */
  background: black;
  top: 40px; /* Adjusted top position */
  left: 0px; /* Added left position */
}

.pokeball::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50%; /* Adjusted top position */
  left: 50%; /* Adjusted left position */
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 15px white,
    inset 0 0 0 12px black;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide loading screen when content is loaded */
.content-loaded #loading-screen {
  opacity: 0;
  pointer-events: none;
}

/* ###########################################
            Pokemon details page
############################################## */

.pokemon-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Set the height to 100% of the viewport height */
  background-color: white;
}

.pokemon-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-image-container img {
  max-width: 100%;
  height: auto;
  max-height: 50vh; /* Set the maximum height to 50% of the viewport height */
}

.pokemon-info-container {
  flex: 1;
  padding-left: 20px;
  text-align: left; /* Align the text to the left */
}

.pokemon-info-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pokemon-attribute {
  margin-bottom: 5px;
}

.pokemon-attribute-label {
  font-weight: bold;
}

.pokemon-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-stats li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-label {
  width: 80px;
  font-weight: bold;
}

.stat-bar-container {
  flex: 1;
  height: 10px;
  max-width: 200px; /* Set the maximum width of the stat bar */
  background-color: #eee;
  border-radius: 5px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid black; /* Add black border */
}

.stat-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease-in-out; /* Add a transition effect for smooth width changes */
}

.stat-value {
  margin-left: 5px;
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
  height: 10vh;
}

.pagination-container a,
.pagination-container span {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-container a:hover {
  background-color: #ddd;
}

.pagination-container .disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container .disabled:hover {
  background-color: #ccc;
}

/* ###########################################
              Pokemon types
############################################## */

.type-normal {
  background-color: #a8a878;
}

.type-fire {
  background-color: #f08030;
}

.type-water {
  background-color: #6890f0;
}

.type-electric {
  background-color: #f8d030;
}

.type-grass {
  background-color: #78c850;
}

.type-ice {
  background-color: #98d8d8;
}

.type-fighting {
  background-color: #c03028;
}

.type-poison {
  background-color: #a040a0;
}

.type-ground {
  background-color: #e0c068;
}

.type-flying {
  background-color: #a890f0;
}

.type-psychic {
  background-color: #f85888;
}

.type-bug {
  background-color: #a8b820;
}

.type-rock {
  background-color: #b8a038;
}

.type-ghost {
  background-color: #705898;
}

.type-dragon {
  background-color: #7038f8;
}

.type-dark {
  background-color: #705848;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fairy {
  background-color: #ee99ac;
}

/* ###########################################
                404 page
############################################## */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image-404 {
  width: 800px;
}
.text-404 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.button-goBack {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
  margin-top: 30px;
  cursor: pointer;
}
.button-goBack:hover,
.button-goBack:active {
  background-color: #fff;
  color: black;
}

/* ###########################################
                footer
############################################## */

.footer {
  background-color: #0f224a;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer p {
  margin: 0;
}
