
/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }


/* Navbar */
.pokemon-navbar {
    background-color: #0F224A; /* Set your desired background color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Lato",sans-serif;
  }
  
  .pokemon-logo img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 10px; /* Adjust the spacing between the navigation items */
  }
  
  .navbar-links li a {
    color: #fff; /* Set your desired text color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links li a:hover {
    text-decoration: underline;
  }


  
.pokemon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.pokemon-card {
    width: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.pokemon-card img {
    width: 80%;
    margin: auto;
    display: block;
}
.pokemon-card h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.type-normal {
    background-color: #A8A878;
}

.type-fire {
    background-color: #F08030;
}

.type-water {
    background-color: #6890F0;
}

.type-electric {
    background-color: #F8D030;
}

.type-grass {
    background-color: #78C850;
}

.type-ice {
    background-color: #98D8D8;
}

.type-fighting {
    background-color: #C03028;
}

.type-poison {
    background-color: #A040A0;
}

.type-ground {
    background-color: #E0C068;
}

.type-flying {
    background-color: #A890F0;
}

.type-psychic {
    background-color: #F85888;
}

.type-bug {
    background-color: #A8B820;
}

.type-rock {
    background-color: #B8A038;
}

.type-ghost {
    background-color: #705898;
}

.type-dragon {
    background-color: #7038F8;
}

.type-dark {
    background-color: #705848;
}

.type-steel {
    background-color: #B8B8D0;
}

.type-fairy {
    background-color: #EE99AC;
}