{% extends "layout.html" %} {% block content %}
<div class="pokemon-details-container">
  <div class="pokemon-image-container">
    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" />
  </div>
  <div class="pokemon-info-container">
    <h1>{{ pokemon.name }}</h1>
    <div class="pokemon-attribute">
      <span class="attribute-label">Height:</span>
      <span class="attribute-value">{{ pokemon.height }} m</span>
    </div>
    <div class="pokemon-attribute">
      <span class="attribute-label">Weight:</span>
      <span class="attribute-value">{{ pokemon.weight }} kg</span>
    </div>
    <div class="pokemon-attribute">
      <span class="attribute-label">Abilities:</span>
      <span class="attribute-value">{{ pokemon.abilities|join(", ") }}</span>
    </div>
    <div class="pokemon-attribute">
      <span class="attribute-label">Types:</span>
      <span class="attribute-value">
        {% for type in pokemon.types %}
        <span>{{ type }}</span>
        {% endfor %}
      </span>
    </div>
    <div class="pokemon-attribute">
      <span class="attribute-label">Weaknesses:</span>
      <span class="attribute-value">
        {% for weakness in pokemon.weaknesses %}
        <span>{{ weakness }}</span>
        {% endfor %}
      </span>
    </div>
    <div class="pokemon-stats">
      <ul>
        <li>
          <span class="stat-label">HP:</span>
          <div class="stat-bar-container">
            <div class="stat-bar" style="width: {{ pokemon.stats.hp }}%;"></div>
          </div>
          <span class="stat-value">{{ pokemon.stats.hp }}</span>
        </li>
        <li>
          <span class="stat-label">Attack:</span>
          <div class="stat-bar-container">
            <div
              class="stat-bar"
              style="width: {{ pokemon.stats.attack }}%;"
            ></div>
          </div>
          <span class="stat-value">{{ pokemon.stats.attack }}</span>
        </li>
        <li>
          <span class="stat-label">Defense:</span>
          <div class="stat-bar-container">
            <div
              class="stat-bar"
              style="width: {{ pokemon.stats.defense }}%;"
            ></div>
          </div>
          <span class="stat-value">{{ pokemon.stats.defense }}</span>
        </li>
        <li>
          <span class="stat-label">Speed:</span>
          <div class="stat-bar-container">
            <div
              class="stat-bar"
              style="width: {{ pokemon.stats.speed }}%;"
            ></div>
          </div>
          <span class="stat-value">{{ pokemon.stats.speed }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="pagination-container">
  <!-- Prev Pokemon -->
  {% if prev_pokemon_id %}
  <a href="{{ url_for('pokemon_details', pokemon_id=prev_pokemon_id) }}">
    <i class="fas fa-chevron-left"></i> Prev
  </a>
  {% else %}
  <span class="disabled"><i class="fas fa-chevron-left"></i> Prev</span>
  {% endif %}

  <!-- Next Pokemon -->
  {% if next_pokemon_id %}
  <a href="{{ url_for('pokemon_details', pokemon_id=next_pokemon_id) }}">
    Next <i class="fas fa-chevron-right"></i>
  </a>
  {% else %}
  <span>Next <i class="fas fa-chevron-right"></i></span>
  {% endif %}
</div>

<div class="footer">
  <p>
    Disclaimer: This Pokedex is an unofficial fan-made project. Pokémon and all
    related names, characters, and elements are the property of their respective
    owners. This Pokedex is not affiliated with or endorsed by the copyright
    owner. No copyright infringement is intended.
  </p>
</div>
{% endblock %}
