{% extends "layout.html" %} {% block content %}
<div class="pokedex-container-pokemon-details">
  <div class="pokedex-top-pokemon-details"></div>
  <form
    action="{{ url_for('pokemon_search') }}"
    method="POST"
    class="search-form-pokemon-details"
  >
    <input type="text" name="search" placeholder="Search Pokemon..." />
    <button type="submit"><i class="fas fa-search"></i></button>
  </form>
  <div class="pokedex-body-pokemon-details">
    <div class="pokemon-details-container-pokemon-details">
      <h1 class="pokemon-name-pokemon-details">{{ pokemon.name }}</h1>
      <div class="pokemon-details-pokemon-details">
        <img
          src="{{ pokemon.image }}"
          alt="{{ pokemon.name }}"
          class="pokemon-image-pokemon-details"
        />
        <div class="pokemon-info-pokemon-details">
          <div class="pokemon-attribute-pokemon-details">
            <span class="attribute-label-pokemon-details">Height:</span>
            <span class="attribute-value-pokemon-details"
              >{{ pokemon.height }} m</span
            >
          </div>
          <div class="pokemon-attribute-pokemon-details">
            <span class="attribute-label-pokemon-details">Weight:</span>
            <span class="attribute-value-pokemon-details"
              >{{ pokemon.weight }} kg</span
            >
          </div>
          <div class="pokemon-attribute-pokemon-details">
            <span class="attribute-label-pokemon-details">Abilities:</span>
            <span class="attribute-value-pokemon-details"
              >{{ pokemon.abilities|join(", ") }}</span
            >
          </div>
          <div class="pokemon-attribute-pokemon-details">
            <span class="attribute-label-pokemon-details">Types:</span>
            <span class="attribute-value-pokemon-details">
              <span class="attribute-value">
                {% for type in pokemon.types %}
                <span class="type-pill type-{{ type|lower }}">{{ type }}</span>
                {% endfor %}
              </span>
            </span>
          </div>
          <div class="pokemon-attribute-pokemon-details">
            <span class="attribute-label-pokemon-details">Weaknesses:</span>
            <span class="attribute-value-pokemon-details">
              <span class="attribute-value">
                {% for weakness in pokemon.weaknesses %}
                <span class="type-pill type-weakness type-{{ weakness|lower }}"
                  >{{ weakness }}</span
                >
                {% endfor %}
              </span>
            </span>
          </div>
          <div class="pokemon-stats-pokemon-details">
            <p class="stats-heading-pokemon-details">
              <strong>Base Stats:</strong>
            </p>
            <ul class="stats-list-pokemon-details">
              <li class="stat-item-pokemon-details">
                <span class="stat-label-pokemon-details">HP:</span>
                <span class="stat-value-pokemon-details"
                  >{{ pokemon.stats.hp }}</span
                >
              </li>
              <li class="stat-item-pokemon-details">
                <span class="stat-label-pokemon-details">Attack:</span>
                <span class="stat-value-pokemon-details"
                  >{{ pokemon.stats.attack }}</span
                >
              </li>
              <li class="stat-item-pokemon-details">
                <span class="stat-label-pokemon-details">Defense:</span>
                <span class="stat-value-pokemon-details"
                  >{{ pokemon.stats.defense }}</span
                >
              </li>
              <li class="stat-item-pokemon-details">
                <span class="stat-label-pokemon-details">Speed:</span>
                <span class="stat-value-pokemon-details"
                  >{{ pokemon.stats.speed }}</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="pagination-pokemon-details">
        <!-- Prev Pokemon -->
        {% if prev_pokemon_id %}
        <a
          href="{{ url_for('pokemon_details', pokemon_id=prev_pokemon_id) }}"
          class="prev-button-pokemon-details"
        >
          <i class="fas fa-chevron-left"></i> Prev
        </a>
        {% else %}
        <span class="disabled-button-pokemon-details">Prev</span>
        {% endif %}

        <!-- Next Pokemon -->
        {% if next_pokemon_id %}
        <a
          href="{{ url_for('pokemon_details', pokemon_id=next_pokemon_id) }}"
          class="next-button-pokemon-details"
        >
          Next <i class="fas fa-chevron-right"></i>
        </a>
        {% else %}
        <span class="disabled-button-pokemon-details">Next</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="pokedex-bottom-pokemon-details"></div>
</div>
{% endblock %}
